.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.help-desk-button {
  position: fixed;
  bottom: 27.5px;
  right: 75px;
  z-index: 1;
  width: 10% !important;
  
}
.fab-helpdesk{
  background-color:#EF9621 !important;
  color:white !important;
}
.fab-helpdesk:hover{
  background-color:#E5890A !important;
  color:white !important;
  transition:0.3s ease-in-out !important;
}

@media screen and (max-width: 634px) {
  .help-desk-button {
    margin-right:30px !important;
  }
}
.window-helpdesk {
  position: fixed;
  border-radius: 2%;
  border: 1px solid black;
  padding: 1.5%;
  bottom: 78px;
  right: 10px;
  width: 30% !important;
  height: auto !important;
  z-index: 5 !important;
  background-color: #f9f9f9 !important;
  color: orange !important;
}
.window-button{
    margin-top: 10px !important;
    background-color: #EF9621 !important;
}
.window-button:hover {  
  background-color: #355D81 !important;
  color: white !important;
  transition: 0.3s all ease-in-out !important;
}
.notwindow-helpdesk {
  visibility: hidden !important;
  /* background-color: transparent !important; */
}

.scrollButton button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: white;
}
.show {
  opacity: 100;
}
.hide {
  opacity: 0;
}
