

/* download icons for the table */
.down-icon {
  margin-left: 40px !important;
  display:flex !important;
  flex-direction: row !important;
  float:right !important;
}
.component-names{
  display:flex !important;
  flex-direction: row !important;
  margin-bottom: 10px !important;
  border: 1px solid black !important;
  border-radius: 10px;
  padding:4px !important;
  width:850px !important;
}
.component-names:hover{
    background-color: rgb(77, 70, 70) !important;
    transition: 0.5s ease-in-out;
    color: white !important;
}
/* table inputs */
.merge {
  margin-bottom: 8px !important;
}
.table-scroll{
  display: block !important;
  overflow-x: auto !important;
  width: 1000px !important;
  white-space: nowrap !important;
}
@media only screen and (max-width: 1100px) {
  .component-names {
   width:600px !important;
  }
  table{
    width:100px !important;
    padding:60% !important;
  }
}