@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;
  // .container{
  //   width:1210px;
    
  // }
  

  h3 {
    font-weight: $bold-font-weight;
    // margin-bottom: $spacer * 2;
    text-transform: uppercase;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
 
}
.slick-slide{
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
}

.products-featured{
  .slick-next{
    right:-9px;
    &:before{
      font-size: 35px !important;
    }
  }
  .slick-prev{
    left:-6px;
    &:before{
      font-size: 35px !important;
    }
  }
}

@media (max-width:1250px){
  .products-featured{
    .slick-next{
      right:15px;
    }
    .slick-prev{
      left:23px;
    }
  }
}
@media (max-width:947px){
  .products-featured{
    .slick-next{
      right:45px;
    }
    .slick-prev{
      left:40px;
    }
  }
}

.products-featured{
  
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    // padding:0 2rem;
    button{
      cursor: pointer;
      background-color: $product-item-category-color;
      border-radius: 3px;
      color: #fff;
      padding: 10px 36px;
      text-transform: uppercase;
      font-size: 16px;
      &:hover{
        background-color:#355D81;
        transition: 1s all ;
      }
    }
  }
  &__products{
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
  }
}