.test-robot{
    margin-top: 15px !important;
    border-radius: 3px !important;
}
.submit-test-robot{
    background-color: #EF9621 !important;
    color:white !important;
    margin:0px auto !important;
}
.submit-test-robot:hover{
    background-color: #355D81 !important;
    color: white!important;
}

/* @media screen and (max-width: 1299px) {
    .cart-test-button{
        display: flex !important;
        flex-direction: column !important;    
    }
    .test-robot{
        margin-left:0px !important;
        margin-top: 10px !important;
    }
  }

  @media screen and (max-width: 539px) {
   
    .test-robot{
        margin-top:10px !important;
    }
  } */