@import "../../../globalStyles/scss/variables.scss";

.home-page {
  .active{
  background-color: #FFF;
  position: relative;  
  transition: 0.3s all;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transform: scale(1.03) ;
  }
  .products{
    // width: 1220px;
    // margin: 0 auto;
    
    h3{
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: 1rem;
      padding-left: 10px;
    }
    button{
      cursor: pointer;
      background-color: $product-item-category-color;
      border-radius: 3px;
      color: #fff;
      padding: 10px 36px;
      text-transform: uppercase;
      font-size: 16px;
      &:hover{
        background-color:#355D81;
        transition: 1s all ;
      }
    }
  .product-list-item{
    width:255px; 
  }
  .products_container{
    overflow-y: auto;
    height:410px;
    display: flex;
    // width:1220px;
    padding: 10px;
    // justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    
  }
  .products-featured__header{
   
    padding-bottom: 10px;
   
  }

}
@media (max-width:900px){
  .products_container{
    flex-direction: column;
  }
}
  &__hero {
    background-color: $blue-overlay;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    text-align: center;
    // padding: 12rem 0;

    &-text {
      overflow: hidden;
    }

    @media (max-width: $small-screen) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 56px);
      justify-content: space-between;
      padding: $spacer;

      &-text {
        margin-top: $spacer * 5;
        width: 100%;
      }

      &-action {
        margin-bottom: $spacer * 3;
        width: 100%;
      }
    }

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(45deg);
      padding: $spacer $spacer * 3;
      margin-bottom: $spacer / 2;

      @media (max-width: $small-screen) {
        padding: 0.6rem $spacer;
        width: calc(100% - 4rem);
      }

      h1 {
        display: inline-block;
        transform: skew(-45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: $h1-font-size;
        font-weight: 900;

        @media (max-width: $small-screen) {
          font-size: $h4-font-size;
        }

        @media (min-width: $small-screen) and (max-width: $medium-screen) {
          font-size: 48px;
        }
      }
    }
  }

  &__categories {
    margin-bottom: 2rem;

    h3 {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: 1rem;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;

        > div {
          &:nth-child(3) {
            grid-column: 3 / 1;
          }

          &:nth-child(n + 4) {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: $base-font-color;

        h3 {
          text-transform: uppercase;
          font-weight: $bold-font-weight;

          &:after {
            content: url("../../../images/carousel-arrow.svg");
            display: inline-block;
            transform: rotate(180deg);
            margin-left: 1rem;
          }
        }
      }

      &__image {
        width: 100%;
       
        background-size: contain;
        background-position:no-repeat center;
        margin-bottom: 1rem;
        

        &--no-photo {
          background-color: $turquoise-light;
          background-repeat: no-repeat;
          background-size: contain;
          
        }
      }
    }
  }
}
.carousel{
  background: url("../../../images/bgBanner.png") ;
  width:100%;
  height:80vh; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__left{
    width:50vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
   
    
    
    h1{
      color:#fff;
      max-width: 25rem;
      font-size: 2rem;
      margin-bottom: 2rem;
      line-height: 1.2;
    }
    button{ 
      
      cursor: pointer;
      width: 12rem;
      // align-self: center;
      background-color: $product-item-category-color;
      border-radius: 3px;
      color: #fff;
      padding: 10px 25px;
      text-transform: uppercase;
      font-size: 16px;
      transition: 0.3s;
      &:hover{
        background-color: #355D81;
      }
    }
  }
  &__right{
    width:50vw;
    img{
      width:80%;
      object-fit: contain;
      // margin-bottom: 3rem;
    }
  }
  @media(max-width:1000px){
    .carousel{
      &__left{
        align-items: center;
        h1{
          font-size: 1.5rem;
        }
        button{
          margin-left:60px;
        }
      }
    }
  }
  
  @media(max-width:750px){
    .carousel{
      &__left{
        display: none;
      }
      &__right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        img{
          width: 80%;
         }
      }
    }
  }
  
}
.introSection{
  width:100%;
  height:300px;
  display: flex;
  justify-content: center;

  &__left{
  background-color:#EF9621 ;
  width:400px;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  
  h3{
    color:#fff;
    font-size: 1.1rem;
    // text-decoration: underline #335877;
    margin-bottom: 1.5rem;
    &:after {
        content: '';
        height: 1px;
        background: #335877; 
        display:block;
        width:51%;
    }
    
  }
  h1{
    color:#fff;
    font-size: 2rem;
    margin-bottom: 1.5rem;

  }
  button{
    background: none;
    outline:noe;
    color:#fff;
    font-size: 15px;
    text-align: left;
  }
  }
 
  &__right{
    width: 700px;
    background-color: #355D81;  
    height: 300px;
    img{
      object-fit: contain;
      height:300px;
    }
   
  }
}

@media (max-width:1500px){
  .introSection{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    &__left{
      height: 300px;
      width:700px;
    }
    &__right{
      img{
        height: 300px;
        object-fit: contain;
      }
    }
  } 
}
@media (max-width:750px){
  .introSection{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    &__left{
      height: 300px;
      width:100%;
    }
    &__right{
      width: 100%;
      img{
        width:100%;
        object-fit: cover;
      }
    }
  } 
}
.testimonials{
  .slick-slide{
    opacity:0.3;
    h3{
      display: none;
    }
    p{
      display: none;
    }

  }
  &__item{
    display: flex !important;
    gap:2rem;

    
    h3{
      color:#838383;
      // display: none;
    }
    p{
      // display: none;
      color:rgb(3, 3, 3);
    }
    img{
      width:5rem;
      object-fit: contain;
    }
  }
  .slick-current{
    opacity:1;
    img{
      width:6rem;
    }
    h3{
      display: block;
    }
    p{
      display: block;
      position: relative;
      width:100%;
      top:-1rem;
      text-align: center;
    }
  }
}
@media(max-width:970px){
  .slick-next{
    right:-39px;
  }
}
.howItWorks{
  background-color: #f7f7f7;
  height:70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    img{
      width:90%;
      object-fit: contain;
    }
  }
  .right{
    width:50%;

    h2{
      font-size: 2.2rem;
      color:#355D81;
      margin: 1.5rem 0;
      text-align: center;
    }
    .rightcontainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:2rem;
      .item{
        display: flex;
        gap:1rem;
        .avatar{
          width:3rem;
          img{
            width: 3rem;
          }
        }
        .text{
          display: flex;
          flex-direction: column;
          h3{
            color: #67BBE7;
            font-weight: 600;
          }
          p{
            color:#5d5d5d;
            max-width: 250px;
            font-size: 16px;
          }
        }
      }
    }
  }
  
}
@media (max-width:900px){
  .howItWorks{
    flex-direction: column-reverse;
    height: auto;
    .left{
      display: none;
    }
  }
}


.contactUs{
  width: 100%;
  margin-top:3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background:#ECF4FF ;
  height: 20rem;
  padding:20px;
  &__left{
    max-width: 30rem;
    padding: 50px;
    h1{
      color:#3F6583;
    }
  }
  &__right{
    width:25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h1{
      color: #67BBE7;
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p{
      font-size: 1rem;
      margin-bottom: 1rem;
      max-width: 15rem;
    }
    input{
      width:100%;
      margin-bottom: 1rem;
      padding:5px;
      height:2rem;
      
    }
    button{
      background:#467AA9 ;
      width:100%;
      margin-bottom: 1rem;
      padding:5px;
      height:2rem;
      cursor: pointer;
      color:#fff;
    }
  }
}
@media(max-width:900px){
  .contactUs{
    flex-direction: column;
    height: auto;
    .right{
      margin-bottom: 2rem;
    }
  }
}
@media(max-width:673px){
  .contactUs{
    flex-direction: column;
    height: auto;
    .right{
      input{
        height:1.5rem;
      }
      button{
        height: 1.5rem;
      }
    }
  }
}
@media(max-width:450px){
  .contactUs{
    flex-direction: column;
    height: auto;
    width:20rem;
    margin: 0;
  
  }
}