.slick-next:before{
    color:#000000!important;
    font-size: 35px!important;
    /* background-color: black; */
}
.slick-prev:before{
    color: black !important;
    font-size: 35px!important;
    position: relative;
    left:-18px;
}
/* how it works section */
.count{
    background: #2cdff7;
    color: #fff;
    font-size: 25px;
    line-height: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom:10px;
    text-align: center;
}
.count-text{
    color:rgb(5, 35, 50) !important;
    font-size:25px;
}

/* mailsender */
.form-email{
    width:70%;
}
.mail-work{
    padding: 10%;
    position:relative;
    bottom:3.2rem!important;
    /* border:1px solid blue */
}
.mail-work1{
    border:1px solid black;
    padding:2%;
}

.mail-work1 h2{
    color:rgb(5, 5, 161);
    /* padding: 4%!important; */
    margin-top:5px!important;
    margin-bottom:10px!important;
}
/* carousel */
.contain{
    object-fit: contain;
    
}
.carousel-indicators li{
    border-radius: 100%!important;
    width: 15px !important;
    height: 15px!important;
  }
  
  .sr-only{
    visibility: hidden;
  }
  /* testimonials */
  .f-block{
      height:160px;
      width:160px;
      float:left;
  }
  /* .carousel-control-next-icon{
      background-color: black !important;
      border-radius: 50%;
    }
  .carousel-control-prev-icon{
    background-color: black !important;
    border-radius: 100%;
} */
.automation-categories{
    margin:"0 10%"
}

.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    /* width:1220px; */
}
@media (max-width:600px){

}
.categories_item{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:150px;
    height:140px;
    padding: 10px;
    /* margin-right: 2rem; */
    text-align: center;
}
.category_heading{
    margin-top: 1rem;
}


 .carousel_item img{
    width: 100%;
    height:100%;
    object-fit: contain;
}


.carousel .slick-prev{
    left:15px;
    z-index: 2;
}
.carousel .slick-next{
    right:50px;
}
 .carousel .slick-prev:before{
    color: black !important;
    font-size: 30px!important; 
    left:15px;
  
}
.carousel .slick-next:before{
    color:#000000!important;
    font-size: 30px!important;

}
.home-page__categories .slick-dots li button:before{
    font-size:10px;
}
@media only screen and (max-width: 770px) {
    .responsive-number {
     margin-bottom: 20px;
     margin-top:20px;
    }
    
  }
  @media only screen and (max-width: 600px){
    .contain{
        width: 100% !important;
        object-fit: cover;
    }
    .carousel .slick-prev:before{
        display: none;
    }
    .carousel .slick-next:before{
        font-size: 20px!important;
    }
    .carousel .slick-next{
        right:20px;
    }
  }
  


