.card-style{
    margin-bottom: 20px !important;
    background-color: #016184 !important;
    color: white !important;
    height: 250px;
    width:230px;
    padding: 0 10px;
}
.card-style:hover{
    transform: scale(1.07) !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}
/* navbar */

.navbar{

    height:64px;

    width: 100%;

    background-color: #F5F5F5;

    display: flex;

    justify-content: space-between;

    padding: 0 20px;

}

.tasc{

    display: flex;

    align-items: center;

    gap: 2rem;

    height:100%;

}

ul li{

    list-style: none;

    color:#016184;

    font-weight: 600;

    cursor: pointer;

}

ul li a{

    text-decoration: none;
    font-weight: 600;
    color:#016184;

}

.active{

    color:#F44336;

}

.logo{

    width:6rem;

}

.rightMenu , .rightMenu ul,

.leftMenu ul{

    display: flex;

    align-items: center;

    gap: 1rem;

}
.tasc-button{

    max-height: 40px;

    background-color: #7B1FA2;

    position: relative;

    color: #fff;

    font-size: 14px;

    font-weight: 500;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

    cursor: pointer;

    outline: none;

    border: none;

    -webkit-tap-highlight-color: transparent;

    display: inline-block;
    white-space: nowrap;

    text-decoration: none;

    vertical-align: baseline;

    text-align: center;

    margin: auto 0;

    min-width: 64px;

    line-height: 36px;

    padding: 0 16px;

    border-radius: 4px;

    overflow: visible;

    transform: translate3d(0, 0, 0);

    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
}
