<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>BAAR | E-Commerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="<%= htmlWebpackPlugin.options.API_URI %>" />
    
    <link
      rel="preconnect"
      href="https://rsms.me/inter/inter.css"
      rel="stylesheet"
    />
    <script>
      if (window.Cypress) {
        window.__REACT_DEVTOOLS_GLOBAL_HOOK__ =
          window.parent.__REACT_DEVTOOLS_GLOBAL_HOOK__;
      }
    </script>
  <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <div id="root"></div>
    <div id="modal-root"></div>
  </body>
</html>
