@import "../../../globalStyles/scss/variables.scss";
.account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-bottom: 1rem;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  &__menu {
    width: 360px;
    margin-right: 2rem;
    
    div{
      background: #fff;
    }
    
  }

  &__content {
    width: 100%;
    div{
      div{
        div{
          div{
            background: #fff;
          }
        }
      }
    }
    
  }
}
.myaccount_container{
 
  width:94%;
  max-width:100vw;
  margin:3.55rem auto;
  padding: 0 2rem;
  background:#f1f5f5;
 
}
