@import "../../../globalStyles/scss/variables.scss";

.carousel {
  &__control {
    padding: $carousel-control-padding;
    background-color: $white;
    box-shadow: $carousel-control-shadow;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background: #000;
    }

    &--right {
      margin-right: -1.6rem;
      margin-bottom: 6rem;
      background-color: #3F3F3F;
      color:#fff;
      border-radius: 50%;
      font-weight: 900;
      font-size: 24px;
      opacity: .75;
      padding:5px;

      @media (max-width: $container-width) {
        margin-right: 0;
      }

      svg {
        transform: rotate(180deg);
        margin-top: 0.5rem;
      }
    }

    &--left {
      margin-left: -1.6rem;
      margin-bottom: 6rem;
      background-color: #3F3F3F;
      color:#fff;
      border-radius: 50%;
      font-weight: 900;
      opacity: .75;
      font-size: 24px;
      padding: 5px;
      @media (max-width: $container-width) {
        margin-left: 0;
      }

      svg {
        margin-top: 0.4rem;
      }
    }
  }

  .slider-slide {
    text-align: center;
  }
}
