.footer-section{  
    background-color: #D6D2C4;
    display:flex!important;
    justify-content: space-between!important;
    padding:50px;
}
@media only screen and (max-width: 584px) {
    .footer-section a{
      margin-right: 10px;
    }
  }
  /* privacy policy */
.header-tag{
  margin-top:20px;
  padding:4%;
  text-align:center;  
}

.para{
  font-style:italic;
  font-size:1.5rem;
}
/* terms and condition */
/* span{
  color:blue;
} */
ol li{
padding:2%;
font-size:x-large;
color:red;
}
.sub-para{
padding:1%;
text-decoration: underline;
font-weight: bold;
}
.vertical-para{
  /* width:100%; */
  font-size:2rem; 
  position:absolute;
  left:-13%;
  bottom:5%;
  transform: rotate(270deg);
}
@media only screen and (max-width:1338px) {
  .vertical-para{
    /* width:100%; */
    font-size:1rem; 
    position:fixed;
    left:-203px;
    bottom:5%;
    transform: rotate(270deg);
  }
}
