@import "../../../globalStyles/scss/variables.scss";
 
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #355D81;
  padding:3rem 5rem;
  &__logo{
    width:8rem;
    img{
      width:8rem;
      object-fit: contain;
    }
  }
  &__li{
    a{
      color:#fff;
    }
  }
 
  &__social{
    // width:30%;
    display: flex;
    gap:2rem;
    a{
      
      font-size: 1.5rem;
      &:hover{
        cursor: pointer;
       
      }
    }
    i{
      width:1rem;
      color: #FFf;
      &:hover{
        color: #EF9621;
      }
    }
  }
  &-nav{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
  }
}
.footer {
  
  align-items: center;

  &__favicons {
    border-top: 1px solid $gray-light;
    display: flex;
    justify-content: center;
  }
 
  &__menu {
    background-color: $gray-light;
    padding: $spacer * 4 0 $spacer * 3;
 
    .container {
      display: flex;
      flex-wrap: wrap;
 
      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }
 
    &-section {
    
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }
     
      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;
 
          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
    
  }
 
  &-nav {
    // background-color: #355D81;
    // background-color:  rgb(5,35,50);
 
    &__section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        text-transform: uppercase;
        color:rgb(226, 209, 209);
      }
     &-header a:hover{
       color:orange;
     }
      &-content {
        p {
          
          font-size: $small-font-size;
          color: #fff;
 
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}
@media(max-width:736px){
  .footer-nav{
    flex-direction: column;
  }
}