@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  text-align: center;
  background-color: #FFF;
  position: relative;
  
  transition: 0.3s all;
  &:hover{
    // z-index: 1;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transform: scale(1.03) ;
  }

  &__title {
    text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    color: #67BBE7;
    margin-top: $spacer;
    height:2rem;
    line-height: 1.2;
    // text-align: left;
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }
  &__details{
    background-color: #ECF4FF;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__category {
    color: $product-item-category-color;
    margin-top: $spacer/2;
    // text-align: left;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin-top: 8px;
    color: #335877;
    // margin: $product-item-price-margin;
    margin-bottom:10px;
    // text-align: left;
  }

  &__image {
    // background-color: $turquoise-light;
    background-color: #F7F7F7;
    display: flex;
    height: 255px;
    justify-content: center;

    img {
      object-fit: contain;
      width: 255px;
      height:255px;
    }

    // @media (max-width: $small-screen) {
    //   height: 210px;
    // }
  }
}
