@import "../../../globalStyles/scss/variables.scss";

 .sticky{
    background-color: #fff;
    border-bottom: 2px solid $gray-light;
    transition: 0.3s;
    .main-menu__item{   
      a{
        color:#000;     
      }  
    } 
    .static-about-us{
      color:black !important;
    } 
  }
.main-menu {
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  // background-color: $white;
  // border-bottom: 1px solid $gray-light;
  display: flex;
  flex-direction: row;
  height: 3.55rem;
  width:100%;
  display: flex;
  justify-content: space-around;
  
  // position: relative;
 
  &__left {
    // flex-basis: calc(50% - 2rem);
    width:100%;
    display: flex;

    justify-content: flex-end;

    @media (min-width: $small-screen) {
      flex-basis: calc(80% - 4rem);
    }

    ul {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__right {
    margin-right: .5rem;
    // flex-basis: calc(50% - 2rem);
    width:calc(30% - 2rem);

    @media (min-width: $small-screen) {
      flex-basis: calc(50% - 4rem);
    }

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .automation{
      color:#fff;
      background-color: #EF9621;
      margin-right:1rem;
      transition: 0.3s;
      &:hover{
        background-color: #355D81;
      }
      @media(max-width:1140px ){
        display: none;
      }
    }
  }
 
  &__center {
    margin-left: 2rem;
    align-self: center;

    img {
      width: 3.5rem;

      @media (min-width: $small-screen) {
        width: 5rem;
        margin-top: 15px;
      }
    }
  }

  &__item {
    // font-weight: $bold-font-weight;
    height: 100%;
    text-transform: uppercase;
  

    a {
      text-decoration: none;
      // color: $base-font-color;
      color:#fff;
      position: relative;
      transition: 0.3s;
      font-weight: 500;
      // font-weight: $bold-font-weight;
      

      &:hover {
        // color: $turquoise;
        color: #EF9621;
      }
    }
  }
  .main-menu__dropdown{
    li{
      a{
        color:#000;
      }
    }
  }

  &__hamburger {
    // border-right: 1px solid $gray-light;
    cursor: pointer;
    padding: $spacer;
    // &--icon{
    //   @media (max-width:1000px){
    //     position: relative;
    //     left:5rem;
    //   }
    // }

    &--hover {
      display: none;
    }

    &:hover {
      .main-menu__hamburger--icon {
        display: none;
      }

      .main-menu__hamburger--hover {
        display: block;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__item,
  &__hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    padding: 0 $spacer;
    cursor: pointer;
    
  
    svg * {
      transition: 0.3s;
      
    }

    &:hover {
    svg * {
        fill:rgb(5,35,50);
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__cart {
    position: relative;
    margin-top: 3px;

    &__quantity {
      position: absolute;
      top: -0.3rem;
      right: 0.6rem;
      // background-color: $blue;
      background-color:$orange;
      border-radius: 1rem;
      padding: 0 0.3rem;
      min-width: 1rem;
      height: 1rem;
      color: $white;
      font-size: $small-font-size;
      text-align: center;
      line-height: 1rem;
      transition: 0.3s;
    }
  }

  &__user {
    &--active * {
      fill: $turquoise;
      fill-rule: inherit;
    }
  }

  &__dropdown {
    text-transform: uppercase;
    font-weight: $bold-font-weight;
    li {
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: $gray;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  &__offline {
    line-height: 24px;
    padding: $spacer;

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      vertical-align: bottom;
    }
  }

  &__search {
    padding: $spacer;
    margin-top: 5px;
    cursor: pointer;
    line-height: 24px;
    transition: 0.3s;

    @media (min-width: $medium-screen) {
      // border-left: 1px solid $gray-light;
    }

    svg * {
      transition: 0.3s;
    }

    &:hover {
      color: $turquoise;
      svg * {
        fill: $turquoise;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-right: $spacer;
    }

    div {
      display: inline-block;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__nav-dropdown {
    padding: 0 1.5rem;

    &--active {
      background-color: $turquoise-light;
    }

    & > li:first-child {
      text-align: center;
    }

    &__body {
      background: $white;
      border-top-color: $gray-light;
      border-top-style: solid;
      border-top-width: 1px;
      display: none;
      left: 0;
      padding: 2rem;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 3;

      &--visible {
        display: block;
      }

      li *,
      ul * {
        display: block !important;
      }

      > ul > li {
        align-self: flex-start;
        margin-left: 2rem;
        position: relative;
        width: 188px;

        // 2nd level name
        > a {
          font-size: $base-font-size;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 9px;
          margin-bottom: 3px;
        }
        > ul > li:first-child {
          position: relative;

          &:before {
            background-color: $turquoise-light;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 100%;
          }
        }

        ul {
          // 3rd+ level names
          a {
            font-size: $small-font-size;
            font-weight: normal;
            padding: 6px 0;
            text-transform: capitalize;
          }

          li > ul {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.main-menu{
  &__left{
    .menu-dropdown{
      .menu-dropdown__body{
        
        position: absolute;
        right: 0rem;
        top: 1.5rem;
        box-shadow: $message-shadow;
        background-color: $white;
        padding: $spacer;
        width: 15rem;
      }
    }

  }
  
}
