/* for user icon */
.user__icon{
 
 width: 2.5rem;
 /* margin-top:.5rem; */
}
.static-about-us{
  margin-left:18px !important;
  color:white !important;
}
.static-about-us:hover{
  color:#EF9621 !important;
  transition: 0.3s !important;
}

.static-associates{
  margin-left:20px !important;
  color:white !important;
  font-size: 16px !important;
}
.static-associates:hover{
  color:#EF9621 !important;
  transition: 0.3s !important;
}

.automation{
  background: #EF9621;
}

@media only screen and (max-width: 856px) {
  .MuiButton-label{
    font-size: 10px;
  }
  }