.register__user {
    color:#c4c4c4 !important; 
    background-color: gray-light !important; 
    /* justify-content: center !important;  */
    text-align: center !important;
}
.checkout__header{
    text-align: center !important;
    font-weight: bold !important;
    
}