@import "../../../globalStyles/scss/variables.scss";

.social-icon {
  padding: $spacer $spacer / 2;
  svg{
    color:#fff;
  }
  svg * {
    transition: 0.3s;
    
  }

  &:hover {
    svg * {
      fill: $turquoise;
    }
  }
}
